<!DOCTYPE html>
<html>
<head>
  <title>UniversitySearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>
<h1>大学検索</h1>
<h2>大学一覧</h2>


</body>
</html>
