<!DOCTYPE html>
<html>
<head>
  <title>UniversitySearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>
<p>大学一覧</p>

</body>
</html>
