<div class="uni-box">
<div class="mypage_line">
MY PAGE
</div>
<br>
名前  <%= @student.name %>
<br>
<br>
お気にいりに追加した商品リスト
<br>
<% @student.products.each do |product| %>
<li class="eachbox">
    <div class="kimonopic">

          <img src="<%= product.product_images[0].photo %>">


<% end %>


    </div>
</li>
