
<div class="bookingpage">
<div class="bookingbox">

<p>予約が完了しました！</p>
<a href="/students/<%= current_student.id %>" class="check_mypage">マイページで確認</a>

<div class="snsshare">↓友達に教える↓</div>
<%= social_share_button_tag("袴の試着なら", :url =>"https://infinite-ocean-88626.herokuapp.com/") %>
</div>
</div>
