
<div class="bookingpage">
<div class="bookingbox">

予約が完了しました！
<br>

<div class="snsshare">↓友達に教える↓</div>
<%= social_share_button_tag("袴の試着なら", :url =>"https://infinite-ocean-88626.herokuapp.com/") %>
</div>
</div>
