
<div class="unilist_title">卒業する大学を選択</div>
    <div class="unilistbody">
        <% @universities.each do |uni| %>
        <div class="unilist">
            <a href="/unis/<%= uni.id %>/products" class="uniname"><%= uni.name %></a>
        </div>
          <p class="unilist_date">卒業式：<%= uni.graduation %></p>
        <% end %>
    </div>
