<!DOCTYPE html>
<html>
<head>
  <title>UniversitySearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <div class = "titlelogo">HAKAMA.com(仮名)</div>
  </header>

  <div class="introduction">
    <div class="overlay">
     <h1>
       find and book your best memory
       <br>
       卒業生のためのレンタル袴比較＆予約サイト
     </h1>
     <a href="/unilist" class="button-wrap">
       <button class="btn">
       "袴をさがす"
       </button>
     </a>
    </div>
  </div>

  <div class="section featured-venues">
    <div class="container">
      <div class="row">
        <div class="featured-title">
          <h3 class="whatwedo">HAKAMA.com(仮名)とは</h3>
          <h4 class="explanation1">自分の卒業する大学の展示イベント、お得なキャンペーン情報をまとめて検索、試着の予約までできる！</h4>
          <h4 class="explanation2">お店のカタログ写真に加え、過去の卒業生のコーディネートまで含めた膨大なデザインから選べる！</h4>
        </div>
      </div>
      <div class="row">
       <div class="box1">
         <a href="" style="background-image: url()" class="samplephoto">
          <div class="overlay">
            <div class="textwrap"><div class="sampletext">過去のコーディネートをみる</div></div>
          </div>
         </a>
       </div>
      </div>

    </div>
  </div>


</body>
</html>
