
<div class="uniresultbody">
<h2 class="unilist uniname">検索結果</h2>

<% @unis.each do |uni| %>
<li>
<a class="unilist uniname" href="/unis/<%= uni.id %>">
<div>
<%= uni.name %>
</div>
</a>
</li>
<% end %>
</div>
