<!DOCTYPE html>
<html>
<head>
  <title>SelectKimono</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>
<div class="uniname">
〇〇大学で予約できる袴一覧
</div>

<div class="maincontents">
   <h1>商品一覧</h1>
     <ul class="productlist">
        <li>
          <div class=img>
            <a href="/products/:id">
             <img src="/assets/kimono1.jpg" alt="着物1 さがのかん">
            </a>
          </div>
          <p class="productdetail">
          <a href="/products/:id" class="kimonodetail">
            <span>詳細はこちら</span>
          </a>
          </p>
        </li>

        <li>
          <div class=img>
            <a href="/products/:id">
             <img src="/assets/kimono2.jpeg" alt="着物1 さがのかん">
            </a>
          </div>
          <p class="productdetail">
          <a href="/products/:id" class="kimonodetail">
            <span>詳細はこちら</span>
          </a>
          </p>
        </li>

        <li>
          <div class=img>
            <a href="/products/:id">
             <img src="/assets/kimono3.jpeg" alt="着物1 さがのかん">
            </a>
          </div>
          <p class="productdetail">
          <a href="/products/:id" class="kimonodetail">
            <span>詳細はこちら</span>
          </a>
          </p>
        </li>


        <li>
          <div class=img>
            <a href="/products/:id">
             <img src="/assets/kimono4.jpeg" alt="着物1 さがのかん">
            </a>
          </div>
          <p class="productdetail">
          <a href="/products/:id" class="kimonodetail">
            <span>詳細はこちら</span>
          </a>
          </p>
        </li>
     </ul>
</div>


</body>
</html>
