<!DOCTYPE html>
<html>
<head>
  <title>SelectWayToFind</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>
<h1>カタログをみる</h1>
<h2>予算から探す</h2>


</body>
</html>
