
<div class="main_container">
<div class="introduction">


  <%= image_tag "/assets/topimage.jpg" %>
     <div class="intro_box">
              <div class="overlay">
                 <h1>
                    find and book your best memory
                   <br>
                  卒業生のためのレンタル袴比較＆試着の予約サイト
                  </h1>
                   <div class="button-wrap">
                    <a href="/unis" class="button">
                      袴をさがす
                     </a>
                  </div>
              </div>
    </div>


</div>

 <div class="row">
 <%= image_tag "/assets/hakamaps1.png", :class=>"triangle1" %>
 <%= image_tag "/assets/iphone1.png", :class=>"triangle2" %>
        <div class="featured-title">
          <h3 class="whatwedo" style="padding-top: 0px; opacity: 1;">WHAT WE DO</h3>
          <h4 class="explanation1">自分の卒業する大学の展示イベントや、お得なキャンペーン情報を<br>まとめて検索、試着の予約までできる！</h4>
          <h4 class="explanation2">お店のカタログ写真に加え、<br>過去の卒業生のコーディネートまで含めた膨大なデザインから選べる！</h4>
           <div class="button-wrap2">
                    <a href="/unis" class="button2">
                      袴をさがす
                     </a>
                  </div>
        </div>
      </div>




</div>
