@media screen and (min-width: 500px) {


.pdp-container {
  min-height: 910px;
  max-width: 980px;
  margin: 0 auto;
  z-index: 8;
  position: relative;
  padding-bottom: 15px;
}

.breadcrumbs-container {
  display: block;
  padding: 0 0 40px;
  font-size: 13px;
  font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.breadcrumbs-link {
    color: #696e79;
    text-transform: capitalize;
    display: inline-block;
    padding-top: 10px;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
}

.breadcrumbs-separator {
    color: #696e79;
    margin: 0 5px;
    padding-top: 5px;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.breadcrumbs-bold-link {
    font-weight: 500;
}



.product_main_container {
    min-height: 910px;
    max-width: 980px;
    margin: 85px auto;
    z-index: 8;
    position: relative;
    min-height: 700px;
    padding-bottom: 15px;
}

.production_details {
  position: relative;
}

.pdp-image-container {
   max-width: 540px;
   float: left;
   position: relative;
   top: 0;
   left: 0;
   z-index: 1;
   display: block;
}


.thumbnails-vertical-container {
    width: 60px;
    float: left;
    display: inline-block;
    margin-bottom: 10px;
}

.thumbnails-thumbnail-button {
    outline: 0;
    margin-right: 15px;
    background-color: #fff;
    border: 0;
    padding: 0;
    position: relative;
}
.thumbnails-thumbnail {
    border: 1px solid #d5d6d9;
    width: 50px;
    height: 66px;
    background-color: #d5d6d9;
}

.thumbnails-selected-image {
    width: 480px;
    height: 680px;
    background-color: #f5f5f6;
    border-style: none;
    min-height: 300px;
}

.pdp-description-container {
    padding: 0 10px 0 570px;
    min-height: 680px;
    margin-top: 0;
    position: relative;
}

.pdp-price-info {
    margin-right: 0;
    border-bottom: 1px dotted #d5d6d9;
    margin: 0 20px;
    padding: 0 0 10px;
    width: 380px;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.pdp-title {
    border-top: 3px solid #eaeaec;
    border-bottom: 3px solid #eaeaec;
    color: #191a1a;
    margin: 10px 20px 0 0;
    font-size: 20px;
    font-weight: 800;
    margin: .67em 0;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.pdp-selling-price {
    font-size: 15px;
    margin: 0 20px 10px;
    position: relative;
    text-align: right;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.pdp-price a{
    font-weight: 500;
    text-decoration: none;
    font-family: Whitney-SemiBold,Whitney;
    color: #282c3f;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.pdp-action-container {
    padding: 0 0 0 0;
    z-index: 0;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1;
}

.pdp-fixed {
    position: relative;
    bottom: 0;
}

.pdp-add-to-wishlist {
text-decoration: none;
    width: 50%;
    text-align: center;
    margin-right: 5%;
    padding: 10px 0;
    margin-top: 0;
    border-radius: 3px;
border-radius: 0;
    padding: 10px 15px;
    font-weight: 500;
    border: 0;
    background-color: #535766;
    color: #fff;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.pdp-button {
    border-radius: 3px;
    outline: 0;
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 13px;
    min-height: 22px;
    -webkit-appearance: button;
        cursor: pointer;
    text-transform: none;
    overflow: visible;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.pdp-whiteWishlistIcon {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    margin: -11px 8px;
    margin-left: -6px;
}

.sprites-whiteWishlist {
    background-position: -2688px 0;
    width: 24px;
    height: 32px;
}



.pdp-add-to-bag {
    text-align: center;
    padding: 10px 0;
    min-width: 108px;
    border-radius: 0;
    padding: 10px 15px;
    min-width: 108px;
    font-weight: 500;
    background-color: #20bd99;
    border: 1px solid #20bd99;
    color: #fff;
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    text-align: center;
    width: 200px;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.pdp-add-to-bag, .pdp-add-to-wishlist {
    margin-top: 0;
    border-radius: 3px;
}

.pdp-whiteBag {
    margin: -5px 12px -5px 0;
    -webkit-transform: scale(.9);
    transform: scale(.9);
}

.sprites-whiteBag {
    background-position: -2283px -40px;
    width: 23px;
    height: 22px;
}



.pdp-productDescriptors {
    border: 0;
    border-top: 1px solid #eaeaec;
    border-bottom: 1px solid #eaeaec;
    margin: 40px 0 20px 0;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.product_explain{
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
    margin: 0 30px 0;
}

.product-price{
    font-size: 30px;
    font-weight: 700;
    color: #ff3300;
    width: 200px;
    margin: 0 auto;
}
.priceinf{
display: inline;
}
.pricebox{
    margin: 0 auto;
}

.discount {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", ".HiraKakuInterface-W2";
    padding: 0 0 10px;
    margin: 20px 20px 0px 20px;
    margin-right: 0;
    font-size: 17px;
    font-weight: 400;
    color: #ff3300;
    line-height: 10px;
}
.discount p{
    color: #242424;
    font-size: 14px;
    font-weight: 300;
}
.eventdetail{
    color: #242424;
    font-size: 14px;
    font-weight: 300;
    padding: 0 0 10px;
    margin: 10px 20px;
    margin-right: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", ".HiraKakuInterface-W2";
}
.eventdetail p{
    font-size: 16px;
    font-weight: 500;
}
.eventdetail li{
    display: inline;
    display: block;
}
.eventdetail ul{
    list-syle: none;
    display: inline;
}
.detailbox{
  font-size: 16px;
  margin: 3px 25px 3px 17px;
}
.map {
    padding: 0 0 10px;
    margin: 10px 0px;
    margin-right: 0;
}

.set-include{
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
    margin: 0 30px 0;
}

.new_comment{
    margin: 0 0 0 30px;
}

.comment_box{
    margin: 10px 0 50px 30px;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
    display: inline-block;
}

.comment_box li{
    display: block;
}

.comtitle{
    margin: 30px 0 0 30px;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}
}























@media screen and (max-width: 500px) {

.pdp-container {
  min-height: 910px;
  max-width: 980px;
  margin: 0 auto;
  z-index: 8;
  position: relative;
  padding-bottom: 15px;
}

.breadcrumbs-container {
  display: block;
  padding: 0 20px 40px;
  font-size: 10px;
  font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.breadcrumbs-link {
    color: #696e79;
    text-transform: capitalize;
    display: inline-block;
    padding-top: 10px;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
}

.breadcrumbs-separator {
    color: #696e79;
    margin: 0 5px;
    padding-top: 5px;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.breadcrumbs-bold-link {
    font-weight: 500;
}



.product_main_container {
    min-height: 910px;
    max-width: 980px;
    margin: 20px auto;
    z-index: 8;
    position: relative;
    min-height: 700px;
    padding-bottom: 15px;
}

.production_details {
  position: relative;
}

.pdp-image-container {
   width: 100%;
   position: relative;
   top: 0;
   left: 0;
   z-index: 1;
   display: block;
}


.thumbnails-vertical-container {
    width: 50px;
    height: 40px;
    float: left;
    display: inline-block;
    margin: 0 0 0 8px;
}

.thumbnails-thumbnail-button {
    outline: 0;
    margin-right: 15px;
    background-color: #fff;
    border: 0;
    padding: 0;
    position: relative;
}
.thumbnails-thumbnail {
    border: 1px solid #d5d6d9;
    width: 50px;
    height: 66px;
    background-color: #d5d6d9;
    display: none;
}

.thumbnails-selected-image {
    width: 262.5px;
    height: 359.72px;
    background-color: #f5f5f6;
    border-style: none;
    min-height: 300px;
}

.pdp-description-container {
    padding: 0 0 0 0;
    height: 100%;
    width: 100%;
    margin-top: 0;
    position: relative;
}

.pdp-price-info {
    border-bottom: 1px dotted #d5d6d9;
    margin: 0 10px 0;
    padding: 0 auto;
    width: 100%;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.pdp-title {
    border-top: 3px solid #eaeaec;
    border-bottom: 3px solid #eaeaec;
    color: #191a1a;
    margin: 10px 20px 0 0;
    font-size: 13px;
    font-weight: 800;
    margin: .67em 0;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.pdp-title h1{
    margin: 0  0 0 4px;
}
.pdp-selling-price {
    font-size: 15px;
    margin: 0 40px 10px;
    position: relative;
    text-align: right;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.pdp-price a{
    font-weight: 500;
    text-decoration: none;
    font-family: Whitney-SemiBold,Whitney;
    color: #282c3f;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.pdp-action-container {
    padding: 0 15px 0 0;
    z-index: 0;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1;
}

.pdp-fixed {
    position: relative;
    bottom: 0;
}

.pdp-add-to-wishlist {
text-decoration: none;
    width: 40%;
    text-align: center;
    margin-right: 5%;
    padding: 10px 0;
    margin-top: 0;
    border-radius: 3px;
border-radius: 0;
    padding: 10px 15px;
    font-weight: 500;
    border: 0;
    background-color: #535766;
    color: #fff;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.pdp-button {
    border-radius: 3px;
    outline: 0;
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 13px;
    min-height: 22px;
    -webkit-appearance: button;
        cursor: pointer;
    text-transform: none;
    overflow: visible;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}


.sprites-whiteWishlist {
    background-position: -2688px 0;
    width: 24px;
    height: 32px;
}



.pdp-add-to-bag {
    text-align: center;
    padding: 10px 0;
    border-radius: 0;
    padding: 10px 15px;
    min-width: 108px;
    font-weight: 500;
    background-color: #20bd99;
    border: 1px solid #20bd99;
    color: #fff;
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    text-align: center;
    width: 160px;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.pdp-add-to-bag, .pdp-add-to-wishlist {
    margin-top: 0;
    border-radius: 3px;
}

.pdp-whiteBag {
    margin: -5px 12px -5px 0;
    -webkit-transform: scale(.9);
    transform: scale(.9);
}

.sprites-whiteBag {
    background-position: -2283px -40px;
    width: 23px;
    height: 22px;
}



.pdp-productDescriptors {
    border: 0;
    border-top: 1px solid #eaeaec;
    border-bottom: 1px solid #eaeaec;
    margin: 20px 10px 20px 10px;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

.pdp-productDescriptors p{
    margin:0 0 0 20px;
}
.product_explain{
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
    margin: 0 30px 0;
}

.product-price{
    font-size: 30px;
    font-weight: 700;
    color: #ff3300;
    width: 200px;
    margin: 0 0 0 100px;
}
.product-size{
    margin: 0 0 0 100px;
}
.priceinf{
display: inline;
}
.pricebox{
    margin: 0 auto;
}

.discount {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", ".HiraKakuInterface-W2";
    padding: 0 0 10px;
    margin: 20px 20px 0px 10px;
    margin-right: 0;
    font-size: 17px;
    font-weight: 400;
    color: #ff3300;
    line-height: 10px;
}
.discount p{
    color: #242424;
    font-size: 14px;
    font-weight: 300;
}
.eventdetail{
    color: #242424;
    font-size: 14px;
    font-weight: 300;
    padding: 0 0 10px;
    margin: 10px 20px;
    margin-right: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", ".HiraKakuInterface-W2";
}
.eventdetail p{
    font-size: 16px;
    font-weight: 500;
}
.eventdetail li{
    display: inline;
    display: block;
}
.eventdetail ul{
    list-syle: none;
    display: inline;
}
.detailbox{
  font-size: 10px;
  margin: 3px 25px 3px 17px;
}
.map {
    padding: 0 0 10px;
    margin: 10px 0px;
    margin-right: 0;
}

.set-include{
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
    margin: 0 30px 0;
}

.new_comment{
    margin: 0 0 0 30px;
    height: 100%;
    color: #000;
}

.comment_box{
    margin: 10px 0 50px 30px;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
    display: inline-block;
}

.comment_box li{
    display: block;
    font-size: 8px;
}

.comtitle{
    margin: 30px 0 0 40px;
    font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
    font-size: 10px;
}

}








