<!DOCTYPE html>
<html>
<head>
  <title>KimonoDetail</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>
<h1>着物詳細</h1>
<p>値段、会社、割引、商品イメージ、試着可能日、</p>

</body>
</html>
