<!DOCTYPE html>
<html>
<head>
  <title>Oriapp</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
    <div class = "title-box">
    <div class="title">Website-Title</div>
    <form action="uni/search" method="get" class="form-wrapper-top">
               <input type="text" id="search" placeholder="大学名を入力" required>
              <input type="submit" value="検索" id="submit">
    </form>
    </div>
  </header>
  <body>
<%= yield %>

</body>
</html>
