<!DOCTYPE html>
<html>
<head>
  <title>Oriapp</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
    <div class = "title-box">
    <div class="title">HAKAMA.com(仮名)</div>
    </div>
  </header>
<%= yield %>

</body>
</html>
